<div id="view__table__budgetary" style="horiz-align: center; font-size: 20px">

</div>

<div id="view__table__paid" style="horiz-align: center; font-size: 20px">

</div>

<div id="hello" style="horiz-align: center; font-size: 20px">
    Hello admin
</div>
<div class="admin__all__filing">
    <button onclick="getAllGoodApplications()">Основной конкурс</button>
</div>
<div class="add_aplication1">
    <button onclick="getAllBadApplications()">Необработанные заявки</button>
</div>
<div class="dialog__admin">
    <button onclick="window.location.href = 'https://Eingeschriebener/belstu_fit/filing';">Диалоги</button>
</div>




<script src="/js/admin.js"></script>
<script>


</script>