
<div class="hidden">
    <div class="xx-large admin-header">
        Панель администрирования заявок.
    </div>
    <div class="admin">
        <div class="admin-buttons">
            <button class="admin-button" onclick="getAllGoodApplications()">Основной конкурс</button>
            <button class="admin-button" onclick="getAllBadApplications()">Необработанные заявки</button>
        </div>

        <div id="view__table__budgetary"></div>

        <div id="view__table__paid"></div>

    </div>
    <script src="/js/admin.js"></script>
</div>
