<div id="authorization" class="main_div">

    <p>
        <label for="login">Login: </label>
        <input id="login" class="user" type="text" name="login" placeholder="Login or email" required onkeyup="checkLogin(this.value)">
        <span class="entypo-user inputUserIcon">
            <i class="fa fa-user"/>
        </span>
    </p>

    <p>
        <label for="password">Password: </label>
        <input id="password" class="pass" type="password" name="password" placeholder="Password" required class="showPassword" onkeyup="checkPassword(this.value)">
        <span class="entypo-key inputPassIcon">
                <i class="fa fa-key"/>
        </span>
    </p>

    <div id="serving">
        <p id="errorInput"></p>
        <p id="error"></p>
    </div>

    <div>
        <button id="submit_login">Войти</button>
        <a href="https://Eingeschriebener/auth/register" style="color: black"> Вы ещё не зарегистрировались?</a>
    </div>

</div>

<script src="/js/authorization.js"></script>
