<div class="hidden"></div>

<div id="authorization">

    <div>
        <label class="black-text x-large bold" for="login">Логин: </label>
        <input id="login" class="input_padding" type="text" name="login" placeholder="Введите логин" required onkeyup="checkLogin(this.value)">
    </div>

    <div>
        <label  class="black-text x-large bold" for="password">Пароль: </label>
        <input id="password" class="input_padding" type="password" name="password" placeholder="Введите пароль" required onkeyup="checkPassword(this.value)">
    </div>

    <div id="serving" class="authorization_error">
        <p id="errorInput"></p>
        <p id="error"></p>
    </div>

    <div class="authorization_links">
        <button id="submit_login" class="authorization_links_button">Войти</button>
        <a class="black-text large authorization_links_a" href="https://Eingeschriebener/auth/register" style="color: black"> Вы ещё не зарегистрировались?</a>
    </div>

</div>

<script src="/js/authorization.js"></script>
