<div id="authorization" class="authorization center-align z-depth-4">
    <div class="col s12">


        <div class="authorization-header col s6">
            Войти в личый кабинет
        </div>

        <div class="input-field col s6 authorization-label">
            <label class="white-text" for="login">Login: </label>
            <input  id="login" class="white-text validate" type="text" name="login" required onkeyup="checkLogin(this.value)">
        </div>

        <div class="input-field col s6 authorization-label">
            <label class="white-text" for="password">Password: </label>
            <input id="password" class="white-text pass showPassword validate" type="password" name="password" required onkeyup="checkPassword(this.value)">
        </div>

        <div class="input-field col s6 red-text" id="serving">
            <p id="errorInput"></p>
            <p id="error"></p>
        </div>

        <div class="input-field row s12">
            <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Login
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="input-field row s12">
            <a class="white-text" href="http://localhost:5000/auth/register"> Вы ещё не зарегистрировались?</a>
        </div>
    </div>

</div>
<script src="/js/login.js"></script>
