<div id="monitoring_budgetary"></div>
<div id="monitoring_paid"></div>
<button id="submit_check_filing" class="blue-button">Подать заявку</button>
<div class="add_aplication">
    <div id="serving">
        <p id="errorInput"></p>
        <p id="error"></p>
    </div>

<!--    <button onclick="window.location.href = 'https://Eingeschriebener/belstu_fit/filing';">Подать заявку</button>-->
</div>
<script src="/js/belstu_main.js"></script>
