<div style="horiz-align: center; font-size: 20px">
    Hello my friend. Welcome to Belarusian State Technological University!
</div>
<div id="monitoring_budgetary">

</div>
<div id="monitoring_paid">

</div>
<div class="add_aplication">
    <button onclick="window.location.href = 'http://localhost:5000/belstu_fit/filing';">Подать заявку</button>
</div>
<script src="/js/belstu.js"></script>