<div id="show-chat">
    <img src="/icon/chat.png" alt="">
</div>

<div id="dialog_chat_user">
    <div id="dialog_indicator">Приёмной комиссия
        <div id="dialog_status"> </div>
        <span id="dialog_chat_user_close">Х</span>
    </div>
    <div id="dialog_messages">

    </div>
    <input id="dialog_input" type="text" name="user_message">
    <input id="dialog_send" type="button" value="Отправить">
</div>

<script>
    const ws = new WebSocket('wss://Eingeschriebener');
    const input = document.getElementById("dialog_input");
    const send = document.getElementById("dialog_send");
    let chat = document.getElementById("dialog_chat_user");
    let messages = document.getElementById("dialog_messages");
    let status = document.getElementById("dialog_status");
    let button = document.getElementById("show-chat")
    let close = document.getElementById("dialog_chat_user_close")

    button.addEventListener("click", () => {
            button.classList.add('hide');
            button.classList.remove('show')
            chat.classList.add('show');
            chat.classList.remove('hide');
            setTimeout(() => button.style.right = '-300px', 2000)
            setTimeout(() => chat.style.right = '0', 2000)
    })

    close.addEventListener("click", () => {
        chat.classList.remove('show');
        button.classList.remove('hide');
        button.classList.add('show');
        chat.classList.add('hide');

        setTimeout(() => button.style.right = '0', 2000)
        setTimeout(() => chat.style.right = '-300px', 1900)
    })

    send.addEventListener("click", () => {
        if(input.value !== "")
            ws.send(JSON.stringify({action: "message", message: input.value }));

        input.value = "";
    })

    ws.onopen = () => {
        console.log("open wss");
    };

    setTimeout(() => {
        ws.send(JSON.stringify({action: "online"}))
    }, 500)

    ws.onmessage = (response) => {
        let data = JSON.parse(response.data);
        if(data.online === true){
            status.style.backgroundColor = "#11ff00";
        }else if(data.online === false){
            status.style.backgroundColor = "red";
        }
        else {
            data.data.forEach(message => {

                if(message.online === true){
                    status.style.backgroundColor = "#11ff00";
                }else if(message.online === false){
                    status.style.backgroundColor = "red";
                }
                messages.innerHTML += `<span>${message.login} : ${message.message}</span><br>`;
            })
        }
    };

    ws.onerror = (err) => {
        status.style.backgroundColor = "red";
    }

</script>

