<div class="hidden container-priority">
    {{#if new}}
        {{>instruction}}
        <form class="container-priority-form" name="belstu_fit" action="filing" method="POST">

            {{>form_for_application}}

            <div>
                <input style="width: 200px;" id="add_info_submit" class="blue-button" type="submit" name="offer"  value="Подать">
            </div>
        </form>
    {{else}}
        <form class="container-priority-form" name="belstu_fit" action="change_filing" method="POST">

            {{>form_for_application}}

            <div>
                <input style="width: 200px;" id="add_info_submit" class="blue-button" type="submit" name="offer"  value="Изменить">
            </div>
        </form>
    {{/if}}

    <input type="hidden" name="inputHide" />

</div>
<script>
    let poit =  document.getElementsByName('priority_poit');
    let isit =  document.getElementsByName('priority_isit');
    let poibms =  document.getElementsByName('priority_poibms');
    let deivi =  document.getElementsByName('priority_deivi');

    const check = (val) => {

        console.log(val.target.name)


        if(val.target.name !== 'priority_poit')
                poit.forEach(elem => {
                    if (val.target.value === elem.value && elem.checked)
                        poit[poit.length - 1].checked = 'checked';
                })

        if(val.target.name !== 'priority_isit')
                isit.forEach(elem => {
                    if(val.target.value === elem.value && elem.checked)
                        isit[poit.length - 1].checked = 'checked';
                })

        if(val.target.name !== 'priority_poibms')
                poibms.forEach(elem => {
                    if(val.target.value === elem.value && elem.checked)
                        poibms[poit.length - 1].checked = 'checked';
                })

        if(val.target.name !=='priority_deivi')
                deivi.forEach(elem => {
                    if(val.target.value === elem.value && elem.checked)
                        deivi[poit.length - 1].checked = 'checked';
                })

    }

    document.getElementsByName('priority_poit').forEach(elem => {
        elem.addEventListener('click', check, this.value)
    })
    document.getElementsByName('priority_isit').forEach(elem => {
        elem.addEventListener('click', check, this.value)
    })
    document.getElementsByName('priority_poibms').forEach(elem => {
        elem.addEventListener('click', check, this.value)
    })
    document.getElementsByName('priority_deivi').forEach(elem => {
        elem.addEventListener('click', check, this.value)
    })

</script>
