<div class="content"></div>
<footer>
    <nav class="navbar navbar-inverse" style="background-color: #0B7FAB;">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    Lerka-Kisa
                </li>
            </ul>
        </div>
    </nav>

</footer>