<div class="content"></div>
<footer>
<!--    <nav class="navbar navbar-inverse" style="background-color: #0B7FAB;">-->
<!--        <div class="container-fluid">-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li>-->
<!--                    © 2022 Copyright Lerka-Kisa-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
        <div class="page-footer-copyright">© 2022 Copyright Lerka-Kisa</div>
</footer>