<p>Тип договора:</p>
<div class="radio-group">
    <input  id="budgetary" class="with-gap" name="contact" value="budgetary" type="radio"  />
    <label for="budgetary">Бюджет</label>

    <input id="paid" class="with-gap" name="contact"  value="paid"  checked type="radio"  />
    <label for="paid">Платный</label>

</div>

<div id="priority" >Расставтье приоритеты, по принципу: на какую специальность больше хочу, та 1 и т.д.
    <div class="priority-grid-table">
        <div id="priority__POIT">ПОИТ:</div>

        <div class="radio-group">
            <input id="poit1" type="radio" name="priority_poit" value="1" required checked>
            <label for="poit1">1</label>

            <input id="poit2" type="radio" name="priority_poit" value="2" required checked>
            <label for="poit2">2</label>

            <input id="poit3" type="radio" name="priority_poit" value="3" required checked>
            <label for="poit3">3</label>

            <input id="poit4" type="radio" name="priority_poit" value="4" required checked>
            <label for="poit4">4</label>

            <input id="poit0" type="radio" name="priority_poit" value="0" required checked>
            <label for="poit0">Не рассматриваю</label>
        </div>

        <div id="priority__ISIT">ИСиТ:</div>

        <div class="radio-group">
            <input id="isit1" type="radio" name="priority_isit" value="1" required checked>
            <label for="isit1">1</label>


            <input id="isit2" type="radio" name="priority_isit" value="2" required checked>
            <label for="isit2">2</label>

            <input id="isit3" type="radio" name="priority_isit" value="3" required checked>
            <label for="isit3">3</label>

            <input id="isit4" type="radio" name="priority_isit" value="4" required checked>
            <label for="isit4">4</label>

            <input id="isit0" type="radio" name="priority_isit" value="0" required checked>
            <label for="isit0">Не рассматриваю</label>
        </div>

        <div id="priority__POIBMS">ПОИБМС:</div>

        <div class="radio-group">
            <input id="poibms1" type="radio" name="priority_poibms" value="1" required checked>
            <label for="poibms1">1</label>

            <input id="poibms2" type="radio" name="priority_poibms" value="2" required checked>
            <label for="poibms2">2</label>

            <input id="poibms3" type="radio" name="priority_poibms" value="3" required checked>
            <label for="poibms3">3</label>

            <input id="poibms4" type="radio" name="priority_poibms" value="4" required checked>
            <label for="poibms4">4</label>

            <input id="poibms0" type="radio" name="priority_poibms" value="0" required checked>
            <label for="poibms0">Не рассматриваю</label>
        </div>

        <div id="priority__DEIVI">ДЭиВИ:</div>

        <div class="radio-group">
            <input id="deivi1" type="radio" name="priority_deivi" value="1" required checked>
            <label for="deivi1">1</label>

            <input id="deivi2" type="radio" name="priority_deivi" value="2" required checked>
            <label for="deivi2">2</label>

            <input id="deivi3" type="radio" name="priority_deivi" value="3" required checked>
            <label for="deivi3">3</label>

            <input id="deivi4" type="radio" name="priority_deivi" value="4" required checked>
            <label for="deivi4">4</label>

            <input id="deivi0" type="radio" name="priority_deivi" value="0" required checked>
            <label for="deivi0">Не рассматриваю</label>
        </div>

    </div>
</div>

<div id="serving">
    <p id="errorInput"></p>
    <p id="error"></p>
</div>
<button class="blue-button" onclick="window.location.href = 'https://Eingeschriebener/belstu_fit/userinfo'">Назад</button>