<nav>
    <div class="nav-wrapper">
        <img height="20px" width="20px" src="/icon/logo_small.png" alt="">
        <a href="#" class="brand-logo">Eingeschriebener</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://localhost:5000/univers/startpage">HOME</a></li>
            <li><a href="http://localhost:5000/belstu_fit">LOG OUT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/belstu_fit" style="color: navajowhite">
                <!--<img height="20px" width="20px" src="/icon/exit.png" alt="Log out"> -->Belstu</a>
            </li>
        </ul>
    </div>
</nav>
<!--<script src="/js/belstu.js"></script>-->
