<ul id="icons" class="right hide-on-med-and-down">
    <li><a href="https://Eingeschriebener/belstu_fit/userinfo">
        <img class="nav-wrapper-icons" src="/icon/user.svg" alt="Userinfo">
    </a>
    </li>
    <li><a href="https://Eingeschriebener/auth/logout">
        <img class="nav-wrapper-icons" src="/icon/exit.png" alt="Log out">
    </a>
    </li>
</ul>
