<nav class="nav">
    <div class="nav-wrapper">
        <div id="logo" class="nav-wrapper-brand pointer" onclick="location.href='https://Eingeschriebener/univers/startpage'">Eingeschriebener</div>
        <img id="fit" class="nav-wrapper-icons pointer" onclick="location.href='https://Eingeschriebener/belstu_fit'" src="/icon/fit.png" alt="Eingeschriebener">

        {{#if auth}}
            {{>header_button}}
        {{/if}}
    </div>
</nav>
