<!--
<nav class="navbar navbar-inverse" style="background-color: #E9723D;">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://Eingeschriebener/univers/startpage" style="color: navajowhite">
                <img height="20px" width="20px" src="/icon/logo_small.png" alt="Eingeschriebener"> Eingeschriebener</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://Eingeschriebener/belstu_fit" style="color: navajowhite">
                <img height="20px" width="20px" src="/icon/exit.png" alt="Log out"> Назад</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://Eingeschriebener/belstu_fit" style="color: navajowhite">
                &lt;!&ndash;<img height="20px" width="20px" src="/icon/exit.png" alt="Log out"> &ndash;&gt;Belstu</a>
            </li>
        </ul>
    </div>
</nav>
&lt;!&ndash;<script src="/js/belstu.js"></script>&ndash;&gt;-->
<ul id="icons" class="right hide-on-med-and-down">
    <li><a href="https://Eingeschriebener/belstu_fit/userinfo">
        <img class="nav-wrapper-icons" src="/icon/user.svg" alt="Userinfo">
    </a>
    </li>
    <li><a href="https://Eingeschriebener/auth/logout">
        <img class="nav-wrapper-icons" src="/icon/exit.png" alt="Log out">
    </a>
    </li>
</ul>
