<!--
<header>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
        </ul>
    </nav>
</header>-->

<header>
    <nav class="navbar navbar-inverse" style="background-color: #E9723D;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" id="username" href="/" style="color: #272125"></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:5000/univers/startpage" style="color: #272125">
                    <img height="80px" width="240px" src="/icon/logo2.png" alt="Eingeschriebener"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
