<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/univers/startpage" style="color: navajowhite">
                <img height="20px" width="20px" src="/icon/logo_small.png" alt="Eingeschriebener"> Eingeschriebener</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/belstu_fit/userinfo" style="color: navajowhite">
                <img height="20px" width="20px" src="/icon/user.svg" alt="Userinfo"> <!--onclick="infoUser()"-->Userinfo</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/auth/logout" style="color: navajowhite">
                <img height="20px" width="20px" src="/icon/exit.png" alt="Log out"> Log out</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/belstu_fit" style="color: navajowhite">
                <!--<img height="20px" width="20px" src="/icon/exit.png" alt="Log out"> -->Belstu</a>
            </li>
        </ul>
    </div>
</nav>
<!--<script src="/js/belstu.js"></script>-->
