<div class="container-priority-text">
    Если вы действительно желаете принять участие в конкурсе приёмной комиссии факультета информационных технологий ГУО"БГТУ", то вам необходимо ознакомиться с некоторой информацией:
    <br>
    1.В данный момент, вы подаёте заявку на участие в конкурсе
    <br>
    Это означает, что ваши данные запишуться, но не будут отображены в общем мониторинге, пока вы не подадите заявление в универ.
    <br>
    То, что вы сейчас заполните, не заменяет процесс подачи заявления, а только лишь её ускоряет
    <br>
    2.Для подачи заявления при себе необходимо иметь:...
</div>