<div class="xx-large" style="text-align: center">
    Добро пожаловать на страницу мониторинга университета БГТУ.
</div>

<div class="container-specializations">
    <div class="container-specializations-poit container-specializations-general">
        <div class="container-specializations-header">
            ПОИТ
        </div>
        <div class="container-specializations-text">
            квалификация: инженер-программист
            <hr>
            Ключевой особенностью данной специальности является углубленная подготовка по современным языкам и технологиям программирования, компьютерным языкам разметки, программированию и безопасности баз данных web-приложений (реляционных и нереляционных), программированию и тестированию web-сайтов, web-приложений, web-сервисов (в том числе и облачных).

<!--            Сфера деятельности-->
<!--            разработка и сопровождение web-ориентированного программного обеспечения (web-сайты, web-приложения, web-сервисы);-->
<!--            разработка и сопровождение сетевого программного обеспечения (IP-радио, IP-телевидение и т.д.);-->
<!--            программирование и безопасность интернет-серверов;-->
<!--            разработка и использование «облачных» систем и сервисов;-->
<!--            программирование баз данных (MS SQL Server, Oracle и др.);-->
<!--            управление контентом web-ресурсов.-->
<!--            Студенты данной специальности будут изучать современные языки программирования С++, C#, технологии программирования (Java EE, ASP.NET MVC и др.), компьютерные языки разметки HTML5, CSS, XML, скриптовый язык JavaScript. Также студенты научатся программно реализовывать архитектурные принципы распределенных интернет-приложений, проектировать, программировать и администрировать базы данных (реляционные и нереляционные БД – Oracle, MS SQL Server, MySQL и др.), разрабатывать сервисы на платформе облачной операционной системы Windows Azure, программировать web-приложения с 2D, 3D графикой.-->
        </div>
    </div>

    <div class="container-specializations-isit container-specializations-general">
        <div class="container-specializations-header">
            ИСиТ
        </div>
        <div class="container-specializations-text">
            квалификация: инженер-программист-системотехник
            <hr>
            В рамках данной специальности изучаются вопросы разработки программного обеспечения (особое внимание уделяется изучению технологий разработки Internet-приложений), проектирования информационных систем и сетей, систем сбора, передачи, обработки и хранения информации, их администрирования, а также внедрения современных информационных технологий в издательско-полиграфический комплекс. Студенты также получают углубленные знания в области информационной безопасности и методов защиты в информационных системах на основе программно-аппаратных средств.
        </div>
    </div>

    <div class="container-specializations-deivi container-specializations-general">
        <div class="container-specializations-header">
            ДЭиВИ
        </div>
        <div class="container-specializations-text">
            квалификация: дизайнер-программист
            <hr>
            Главной особенностью данной специальности является сочетание получаемых знаний и навыков как в области веб-дизайна, создания, редактирование и сопровождения различных Интернет- и мультимедийных изданий со статичным и интерактивным информационным контентом, так и в области IT-технологий и web-программирования.
        </div>
    </div>

    <div class="container-specializations-poibms container-specializations-general">
        <div class="container-specializations-header">
            ПОИБМС
        </div>
        <div class="container-specializations-text">
            квалификация: инженер-программист
            <hr>
            Главной особенностью данной специальности является сочетание получаемых знаний и навыков как в области проектирования, создания и сопровождения программного обеспечения для мобильных устройств (в том числе с 2D и 3D графикой), так и в области построения, функционирования и обеспечения безопасности (в том числе и криптографическими методами) мобильных систем. Кроме того уделяется внимание изучению технологий создания сетевых клиент-серверных приложений, разработке web-сервисов, а также программированию интернет-серверов.
        </div>
    </div>
</div>
