<div class="xx-large" style="text-align: center">
    Добро пожаловать на страницу мониторинга университета БГТУ.
</div>

<div class="container-specializations">
    <div class="container-specializations-poit container-specializations-general">
        <div class="container-specializations-header">
            ПОИТ
        </div>
        <div class="container-specializations-text">
            Программисты
        </div>
    </div>

    <div class="container-specializations-isit container-specializations-general">
        <div class="container-specializations-header">
            ИСиТ
        </div>
        <div class="container-specializations-text">
            Похожи на программистов
        </div>
    </div>

    <div class="container-specializations-deivi container-specializations-general">
        <div class="container-specializations-header">
            ДЭиВИ
        </div>
        <div class="container-specializations-text">
            Девочки - красивые и не очень
        </div>
    </div>

    <div class="container-specializations-poibms container-specializations-general">
        <div class="container-specializations-header">
            ПОиБМС
        </div>
        <div class="container-specializations-text">
            Хз что делают
        </div>
    </div>
</div>
