<div class="userinfo__data">
    <div class="userinfo__data__fio">${json.surname} ${json.name} ${json.middle_name}</div>
    <div class="userinfo__data__birthday">День рождения: ${day}.${month+1}.${year}</div>
    <div class="userinfo__data__address">Адрес: ${json.address}</div>
    <div class="userinfo__data__mail">Почта: ${json.mail}</div>
    <div class="userinfo__data__number">Номер телефона: ${json.number}</div>
</div>
