<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add info</title>
</head>
<body>
<h1>Введи свои данные пожалуйста)</h1>

<form name="belstu_fit" action="add" method="POST">
    <label for="Name">Имя:
        <input id="name" type="text" name="name" placeholder="Name" required >
    </label><br/><br/>

    <label for="Surname"> Фамилия:
        <input id="surname" type="text" name="surname" placeholder="Surname" required>
    </label><br/><br/>

    <label for="Middle_name"> Отчество:
        <input id="middle_name" type="text" name="middle_name" placeholder="Middle_name" required>
    </label><br/><br/>

    <label for="Birthday"> День рождения:
        <input id="birthday" type="date" name="birthday" placeholder="Birthday" required>
    </label><br/><br/>

    <label for="Address"> Адрес:
        <input id="address" type="text" name="address" placeholder="Address" required>
    </label><br/><br/>

    <label for="Address"> Электронная почта:
        <input id="mail" type="text" name="mail" placeholder="Mail" required>
    </label><br/><br/>

    <label for="Phonenumber"> Номер телефона:
        <input id="phonenumber" type="text" name="phonenumber" placeholder="Phone number" required>
    </label><br/><br/>

    <div>
        <input id="submit" type="submit" name="offer"  value="Add">
    </div>
</form>
</body>
</html>