<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Priority</title>
</head>
<body>
    <div id="priority_1">
        <select name="select" size="3" multiple>Первый приоритет:
            <span id="priority_1_list"></span>
        </select>
    </div>
</body>
</html>
<script>
    let arr = ["POIT","ISiT","POIBMS","DEiVI","Nichavo"]
    let choice = {
        POIT: 23,
        ISIT: "lolo",
        POIBMS: 0,
        DEIVI: 0
    };
    let list = ``

    const getList = (arr,ch) => {
        arr.forEach(s => {
            list += `<option value="${s}">${s}</option>`
        })
        console.log(list)
        document.getElementById("priority_1_list").innerHTML = list;
        // for (const key in ch) {
        //     if (ch.hasOwnProperty(key)) {
        //         // work on properties
        //         console.log(`key: ${key}, value: ${ch[key]}`);
        //     }
        // }
    }


    getList(arr,choice)
</script>