<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="belstu_fit" action="marks" method="POST">
    <label for="math">Математика:
        <input id="math" type="number" max="100" min="0" name="math" placeholder="0" value="0">
    </label><br/><br/>

    <label for="Physics"> Физика:
        <input id="physics" type="number" max="100" min="0" name="physics" placeholder="0" value="0">
    </label><br/><br/>

    <label for="Language"> Русский/белорусский:
        <input id="language" type="number" max="100" min="0" name="language" placeholder="0" value="0">
    </label><br/><br/>

    <label for="Certificate"> Балл за аттестат:
        <input id="certificate" type="number" max="100" min="0" name="certificate" placeholder="0" value="0">
    </label><br/><br/>

    <div>
        <input id="submit" type="submit" name="offer"  value="Сохранить">
    </div>
</form>
or<br/>
<button onclick="window.location.href = 'https://Eingeschriebener/belstu_fit/userinfo'">Назад</button>
</body>
</html>