{{>header_belstu_authorization}}
<div class="authorization">
    {{>authorization}}
</div>
{{>footer}}

<style>
    header {
        background: #E9723D;
    }

    .authorization {
        /* Выставляем отступ с высотой footer и header */
        min-height: calc(100vh - 32px - 100px);
        background: #F4D75E;
    }

    footer {
        /* Высота footer */
        height: 20px;
        background: #0B7FAB;
    }
</style>