{{>header_belstu}}
<div class="belstu">
    {{>belstu}}
</div>
{{>footer}}

<style>
    /*TODO delete*/
    .belstu {
        /* Выставляем отступ с высотой footer и header */
        min-height: calc(100vh - 18px - 70px);
        background: #F4D75E;
    }
</style>
