{{>header_belstu}}
<div class="useraccount">
    {{>useraccount}}
</div>
{{>footer}}

<style>
    /*TODO delete*/
    .useraccount {
        /* Выставляем отступ с высотой footer и header */
        min-height: calc(100vh - 18px - 70px);
        background: #F4D75E;
    }
</style>
