{{>header_belstu_authorization}}
<div class="registration">
    {{>registration}}
</div>
{{>footer}}

<style>
    /* TODO delete */
    .registration {
        /* Выставляем отступ с высотой footer и header */
        min-height: calc(100vh - 17px - 65px);
        background: #F4D75E;
    }
</style>
