{{>header_belstu}}
<div class="belstu">
    {{>belstu}}
</div>

{{#if enrollee}}
    {{>dialog_user}}
{{/if}}

{{>footer}}

<style>
    header {
        background: #E9723D;
    }

    .belstu {
        /* Выставляем отступ с высотой footer и header */
        min-height: calc(100vh - 18px - 70px);
        background: #F4D75E;
    }

    footer {
        /* Высота footer */
        height: 20px;
        background: #0B7FAB;
    }
</style>