{{>header_belstu}}
<div class="useraddinfo">
    {{>useraddinfo}}
</div>
{{>footer}}

<style>
    /*TODO delete*/
    .useraddinfo {
        /* Выставляем отступ с высотой footer и header */
        min-height: calc(100vh - 18px - 70px);
        background: #F4D75E;
    }

</style>
