<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body>
<div>
    Если вы действительно желаете принять участие в конкурсе приёмной комиссии факультета информационных технологий ГУО"БГТУ", то вам необходимо ознакомиться с некоторой информацией:
    1.В данный момент, вы подаёте заявку на участие в конкурсе
    Это означает, что ваши данные запишуться, но не будут отображены в общем мониторинге, пока вы не подадите заявление в универ.
    То, что вы сейчас заполните, не заменяет процесс подачи заявления, а только лишь её ускоряет
    2.Для подачи заявления при себе необходимо иметь:...
</div>
<input type="checkbox" id="confirmation" name="confirmation">
<label for="confirmation">Я прочитал условие, согласен с ними и даю разрешение на обработку своих данных</label>

<div id="type_contract">Тип договора:
    <div id="filingContractChoice1">
        <input class="container__form__input__radio" type="radio"
               name="contact" value="budgetary" required checked>
        <label for="filingContractChoice1">Бюджет</label>
    </div>

    <div id="filingContractChoice2">
        <input class="container__form__input__radio" type="radio"
               name="contact" value="paid" required >
        <label for="filingContractChoice2" >Платная</label>
    </div>
</div>
<div id="priority">Расставтье приоритеты, по принципу: на какю специальность больше хочу, та 1 и т.д.
    <div id="priority__POIT">ПОИТ:
        <span>
        <input id="poit1" type="radio" name="priority_poit" value="1" required checked>
        <label for="poit1">1</label>
    </span>
        <span>
        <input id="poit2" type="radio" name="priority_poit" value="2" required checked>
        <label for="poit2">2</label>
    </span>
        <span>
        <input id="poit3" type="radio" name="priority_poit" value="3" required checked>
        <label for="poit3">3</label>
    </span>
        <span>
        <input id="poit4" type="radio" name="priority_poit" value="4" required checked>
        <label for="poit4">4</label>
    </span>
        <span>
        <input id="poit0" type="radio" name="priority_poit" value="0" required checked>
        <label for="poit0">Не рассматриваю</label>
    </span>
    </div>

    <div id="priority__ISIT">ИСиТ:
        <span>
        <input id="isit1" type="radio" name="priority_isit" value="1" required checked>
        <label for="isit1">1</label>
    </span>
        <span>
        <input id="isit2" type="radio" name="priority_isit" value="2" required checked>
        <label for="isit2">2</label>
    </span>
        <span>
        <input id="isit3" type="radio" name="priority_isit" value="3" required checked>
        <label for="isit3">3</label>
    </span>
        <span>
        <input id="isit4" type="radio" name="priority_isit" value="4" required checked>
        <label for="isit4">4</label>
    </span>
        <span>
        <input id="isit0" type="radio" name="priority_isit" value="0" required checked>
        <label for="isit0">Не рассматриваю</label>
    </span>
    </div>

    <div id="priority__POIBMS">ПОИБМС:
        <span>
        <input id="poibms1" type="radio" name="priority_poibms" value="1" required checked>
        <label for="poibms1">1</label>
    </span>
        <span>
        <input id="poibms2" type="radio" name="priority_poibms" value="2" required checked>
        <label for="poibms2">2</label>
    </span>
        <span>
        <input id="poibms3" type="radio" name="priority_poibms" value="3" required checked>
        <label for="poibms3">3</label>
    </span>
        <span>
        <input id="poibms4" type="radio" name="priority_poibms" value="4" required checked>
        <label for="poibms4">4</label>
    </span>
        <span>
        <input id="poibms0" type="radio" name="priority_poibms" value="0" required checked>
        <label for="poibms0">Не рассматриваю</label>
    </span>
    </div>

    <div id="priority__DEIVI">ДЭиВИ:
        <span>
        <input id="deivi1" type="radio" name="priority_deivi" value="1" required checked>
        <label for="deivi1">1</label>
    </span>
        <span>
        <input id="deivi2" type="radio" name="priority_deivi" value="2" required checked>
        <label for="deivi2">2</label>
    </span>
        <span>
        <input id="deivi3" type="radio" name="priority_deivi" value="3" required checked>
        <label for="deivi3">3</label>
    </span>
        <span>
        <input id="deivi4" type="radio" name="priority_deivi" value="4" required checked>
        <label for="deivi4">4</label>
    </span>
        <span>
        <input id="deivi0" type="radio" name="priority_deivi" value="0" required checked>
        <label for="deivi0">Не рассматриваю</label>
    </span>
    </div>
</div>

</body>
</html>