<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Приветик!!! Я помогу тебе выбрать универ, который поможет тебе войти в IT!)))</h1>

<form name="univ" action="offer" method="POST">
    <label for="math">Математика:
        <input id="math" type="number" max="100" min="1" name="math" placeholder="Math" required >
    </label><br/><br/>

    <label for="Physics"> Физика:
        <input id="physics" type="number" max="100" min="1" name="physics" placeholder="Physics" required>
    </label><br/><br/>

    <label for="Language"> Русский/белорусский:
        <input id="language" type="number" max="100" min="1" name="language" placeholder="Language" required>
    </label><br/><br/>

    <label for="Certificate"> Балл за аттестат:
        <input id="certificate" type="number" max="100" min="1" name="certificate" placeholder="Certificate" required>
    </label><br/><br/>

    <input type="radio" id="contactChoice1"
           name="contact" value="budgetary" required>
    <label for="contactChoice1">Бюджет</label>

    <input type="radio" id="contactChoice2"
           name="contact" value="paid" required>
    <label for="contactChoice2">Платная</label><br/><br/>


    <div>
        <input id="submit" type="submit" name="offer"  value="Podobrat">
    </div>
</form>
or<br/>
<button onclick="window.location.href = 'http://localhost:443/univers/offer'">All universities</button>
</body>
</html>