/**
SPECIALIZATIONS
 */
.container-specializations{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
                        'poit poit poit .'
                        '. isit isit isit'
                        'deivi deivi deivi .'
                        '. poibms poibms poibms';
    margin: 50px 30px 0 30px;
    grid-gap: 20px;
}
.container-specializations-general{
    background-color: rgba(255, 255, 255, 20%);
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}
.container-specializations-header{
    font-size: xx-large;
    text-align: center;
    border-bottom: 1px solid #E9723D;
}
.container-specializations-text{
    font-size: x-large;
}

.container-specializations-poit{
    grid-area: poit;
}
.container-specializations-isit{
    grid-area: isit;
}
.container-specializations-deivi{
    grid-area: deivi;
}
.container-specializations-poibms{
    grid-area: poibms;
}
/**
TABLE
 */
.text-for-table{
    font-size: 20px;
    margin-top: 20px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    color: black;
}

.table thead{
    background-color: #E9723D;
    color: white;
    word-wrap: break-word;
    font-size: 10px;
}

/*tr:nth-child(2n) {
    background: #0B7FAB;
    color: white;
}*/

.table th, .table td {
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.table th, .table td {
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.table td:hover {
    background: #0B7FAB;
    color: white;
}



.table td:hover:before {
    background-color: #eee;
    content: '';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -2;
}



.table td:hover:after {
    background-color: #eee;
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

.specialization{
    font-size: 14px;
}
