.container-priority{
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 300px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 20%);
    padding: 20px;
}

.container-priority-text{

}
.container-priority-form{
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.priority-grid-table{
    display: grid;
    grid-template-columns: 120px 499px;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

}

/***
RADIO STYLES
 */

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
label {
    color: black;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}
input[type=radio]:checked + label {
    color: white;
    background: #E9723D;
    width: auto;
    margin: 0;
}
label + input[type=radio] + label {
    border-left: solid 3px #0B7FAB;
}
.radio-group {
    border: solid 3px #675f6b;
    display: inline-flex;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/**
CHECKBOX
 */
input[type="checkbox"]{
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:checked{
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
    width: 20px;
    height: 20px;
    background-color: #E9723D;
}

