@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.authorization {
    width: 400px;
    height: 370px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(122,122,122, 70%);
    border: 2px white solid;
    padding: 10px;
}

.authorization-header{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
