<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/css/materialize.min.css">-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/materialize.min.js"></script>
    <title>{{title}}</title>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
</head>
<body>
{{{body}}}
</body>
</html>
